.main {
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    justify-content: center;
    gap: 1.5em;
    width: 100%;
    min-height: 600px;
}
.card {
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 430px;
}
.img-responsive {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    min-height: 200px;
    min-width: 200px;
}
.card__header {
    box-shadow: 0 0 11px 4px lightgrey;
    justify-content: center;
    flex-grow: 1;
    display: flex;
}
.card__block {
    text-align: center;
    display: flex;
    margin: 0 auto;
}
.card__foot {
    text-align: center;
}
.card__main-text:hover {
    text-decoration: underline;
}
.btn {
    margin: auto;
    text-decoration: none;
    border: 0.1em solid #FFA301;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    text-decoration: none;
    font-weight: bold;
}
.btn:hover {
    border: 0.1em solid #000000;
}
.card__price {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5em;
    color: rgb(70, 67, 67);
}
.card__main-text {
    padding: 0.5em;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    color: black;
    flex-grow: 1;
}
.card__picture {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding: 2em;
}